@font-face {
	font-weight: 400;
	font-family: Inter, sans-serif;
	src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
	font-weight: 500;
	font-family: Inter, sans-serif;
	src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
	font-weight: 600;
	font-family: Inter, sans-serif;
	src: url('../fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
	font-weight: 700;
	font-family: Inter, sans-serif;
	src: url('../fonts/Inter/Inter-Bold.ttf');
}

@font-face {
	font-family: "GT Walsheim Pro", sans-serif;
	src: url('../fonts/GT_Walsheim_Pro/GTWalsheimPro-Medium.ttf');
}