html,
body {
	font-weight: 400;
	font-family: Inter, sans-serif;
	font-size: 16px;
	color: $white;
}

a {
	text-decoration: none;
}

h1 {
	font: 700 25px Inter, sans-serif;

	@include desktop {
		font-size: 72px;
	}
}

h2 {
	font: 600 23px Inter, sans-serif;

	@include desktop {
		font-size: 45px;
	}
}