*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font: 400 16px/1.2 Inter, sans-serif;
	color: $white;
}

.header {
	position: relative;
	width: 100%;
	@include flex(center, start);
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font: 400 25px/1.05 Inter, sans-serif;

	@include desktop {
		font-size: 72px;
	}
}

h2 {
	font: 600 23px/1.3 Inter, sans-serif;

	@include desktop {
		font-size: 45px;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;

	@include desktop {
		min-height: 100vh;
	}
}

.container {
	position: relative;
	display: flex;
	min-height: 100vh;
	align-items: center;
	overflow-x: hidden;
}

.body {
	flex: 1 1 auto;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.close {
	width: $cls-regular;
	height: $cls-regular;

	&:active {
		filter: invert(30%);
	}

	&_responsive {
		width: $cls-responsive;
		height: $cls-responsive;

		@include desktop {
			width: $cls-regular;
			height: $cls-regular;
		}
	}
}

.active {
	visibility: visible;
	opacity: 1;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
}