html,
body {
	width: 100%;
	height: 100%;
	font: 400 16px/1.2 Inter, sans-serif;
	color: $white;
}

.header {
	position: relative;
	@include flex(center, start);
}

main {
	width: 100%;
	height: 100%;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $primary-dark;
		z-index: -1;
		content: "";
	}
}

a {
	text-decoration: none;
}

h1 {
	font: 700 25px/1.05 Inter, sans-serif;

	@include desktop {
		font-size: 72px;
	}
}

h2 {
	font: 600 23px/1.3 Inter, sans-serif;

	@include desktop {
		font-size: 45px;
	}
}