@mixin desktop {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin flex($justify-content: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;

	@content;
}