// colors
$white: #fff;
$bright: #cecece;
$dark: #242424;
$green: #c3f33b;
$primary-dark: #1d2532;
$secondary-dark: #293344;

// border-radius
$br-20: 20px;

// Close button dimensions
$cls-regular: 22.52px;
$cls-responsive: 17.02px;