// Normalize
@import "normalize";

// Fonts
@import "fonts";

// Variables
@import "variables";

// Mixins
@import "mixins";

// Blocks
@import "blocks/navigation";
@import "blocks/hero";
@import "blocks/opportunities";
@import "blocks/menu";
@import "blocks/subscribe";

// Components
@import "components/btn";
@import "components/card";
@import "components/decor-items";

// General
@import "general";
