.btn {
	display: inline-block;

	&_normal {
		padding: 20px 30px;
		font: 500 20px/1.3 "GT Walsheim Pro", sans-serif;
		color: $primary-dark;
		background: linear-gradient(
			92.84deg,
			#1DD844 1.44%,
			#CBF62E 126.29%
		);
		box-shadow:
    	0px 4px 9px #1DD844,
    	2px -2px 8px #CBF62E;
		border: none;
		border-radius: 20px;
		
		&:hover {
			box-shadow:
				0px 4px 15px #1DD844,
				2px -2px 15px #CBF62E;
		}

		&:active {
			box-shadow:
				inset 0px 3px 15px -5px #333,
				0px 4px 15px #1DD844,
				2px -2px 15px #CBF62E;
		}
	}

	&_outline {
		padding: 16px 22px;
		font: 500 16px/1.2 Inter, sans-serif;
		color: $white;
		border: 1px solid $white;
		border-radius: 15px;
		background-color: transparent;

		&:hover {
			color: $green;
			border-color: $green;
		}

		&:active {
			color: $green;
			border-color: $green;
			background-color: rgba(224, 255, 172, 0.05);
		}
	}

}