.card {
	&__box {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 52px;
		margin-bottom: 79px;
	}

	&__item {
		position: relative;
		width: 260px;
		height: 273px;
		@include flex {
			flex-direction: column;
			gap: 20px;
		}
		padding: 0 22px;
		border-radius: $br-20;
		background: rgba(51, 62, 81);
		z-index: 99;

		&::before {
			position: absolute;
			bottom: -17px;
			width: 226px;
			height: 235px;
			background: rgba(51, 62, 81, 0.6);
			border-radius: $br-20;
			z-index: -1;
			content: '';
		}
	}

	&__img {
		width: 83px;
		height: 83px;
	}

	&__content {
		font-size: 16px;
		line-height: 25px;
	}

	@include desktop {
		&__box {
			grid-template-columns: repeat(2, auto);
			row-gap: 70px;
			column-gap: 50px;
			margin-bottom: 20px;
		}

		&__item {
			width: 300px;
			height: 310px;
			gap: 22px;
			padding: 0 16px;
		}

		&__img {
			width: 117px;
			height: 117px;
		}

		&__content {
			font-size: 19px;
		}
	}
}