doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title NFT-Main | Ruslan Andreev
		link(rel='stylesheet' href='./src/styles/app.css')

	body
		header.header
			include includes/nav.pug
		main.wrapper
			include includes/hero-section.pug
		footer