.hero__container
	.hero__body
		h1.hero__title
			| Не упусти
			br
			| возможность войти
			br
			| в #[strong прибыльную нишу]
		img.hero__img(src="./src/images/group.svg", alt="hero nft")
		img.item.item_6(src="./src/images/ellipse/green.svg", alt="roud green")
		p.hero__content
			| Получи все нужные навыки для заработка на NFT всего за 28 дней!
		button.hero__btn.btn.btn_normal Начать зарабатывать на NFT
