.menu
	.menu__header
		a(href="#") 
			img.menu__logo(src="./src/images/logo.svg", alt="logo")
		a(href="#") 
			img.menu__close(id='close-modal-menu' src="./src/images/cancel.svg", alt="close menu")
	.menu__body
		ul.menu__list
			li.menu__item
				a(href="#") Главная
			li.menu__item
				a(href="./page2.html") Что даст обучение
		button.btn.btn_outline Личный кабинет