nav.nav
	a(href="#") 
		img.logo(src="./src/images/logo.svg", alt="logo")
	.nav__container
		ul.nav__list
			li.nav__item 
				a(href="#") Главная
			li.nav__item
				a(href="#") Что даст обучение
		button.btn.btn_outline Личный кабинет