.container
	.body.opt__container
		h2.opt__title Что даст тебе обучение?
		.card__box
			.card__item
				img.card__img(src="./src/images/emoji/emo_2.svg", alt="emoji")
				p.card__content
					| Откроешь свой первый криптокошелек и научишься с ним работать
			.card__item
				img.card__img(src="./src/images/emoji/emo_5.svg", alt="emoji")
				p.card__content
					| Узнаешь кто такие холдеры и флипперы
			.card__item
				img.card__img(src="./src/images/emoji/emo_4.svg", alt="emoji")
				p.card__content
					| Построишь план по
					| быстрому приумножению
					| заработанных средств
			.card__item
				img.card__img(src="./src/images/emoji/emo_3.svg", alt="emoji")
				p.card__content
					| Поймёшь, как выбирать правильные дропы
		img.item.item_1(src="./src/images/spot.svg", alt="spot")
		img.item.item_2(src="./src/images/spot.svg", alt="spot")
		img.item.item_3(src="./src/images/ellipse/purple.svg", alt="round blured")
		img.item.item_4(src="./src/images/ellipse/purple.svg", alt="round purple")
		img.item.item_5(src="./src/images/ellipse/blue.svg", alt="round purple")