.hero {
	&__container {
		min-height: 100vh;
		display: flex;
		background-color: $primary-dark;

		&::before {
			position: absolute;
			top: -188px;
			left: -120px;
			width: 237px;
			height: 237px;
			background: linear-gradient(
				170.98deg,
				rgba(95, 56, 255, 0.35) 25.59%,
				rgba(255, 14, 222, 0.35) 100.44%
				);
				filter: blur(86px);
				transform: rotate(11.97deg);
			content: '';

			@include desktop {
				left: 0;
				width: 415px;
				height: 415px;
			}
		}
	}

	&__body {
		position: relative;
		flex: 1 1 auto;
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		padding: 50px 22px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
	}

	&__img {
		@include flex;
		height: 320px;
	}

	&__title {
		margin: 55px 0 0;
	}

	&__content {
		width: 220px;
		height: 63px;
		margin: 0 0 40px;
		font-size: 18px;
		color: $bright;
	}

	@include desktop {
		&__body {
			justify-content: center;
			align-items: start;
			text-align: left;
			padding: 0;
		}

		&__img {
			position: absolute;
			right: -50px;
			height: 750px;
			z-index: -1;
		}

		&__title {
			margin: 0 0 20px;
		}

		&__content {
			font-size: 23px;
			width: 499px;
			margin: 0 0 67px;
		}
	}
}