.menu {
	width: 100%;
	height: 392px;
	padding: 20px 20px 60px;
	background-color: $secondary-dark;
	border-bottom-left-radius: 30px;

	@include flex(space-between, start) {
		flex-direction: column;
	}

	&__header {
		width: 100%;

		@include flex(space-between)
	}

	&__logo {
		height: 27.27px;
	}

	&__body {
		@include flex(start, start) {
			flex-direction: column;
			row-gap: 90px;
		}
	}

	&__list {
		@include flex(start, start) {
			flex-direction: column;
			row-gap: 20px;
			list-style: none;
		}
	}

	&__item {
		font-size: 23px;
		color: $bright;
	}
}