.nav {
	// position: absolute;
	top: 30px;
	display: flex;
	justify-content: space-between;
	max-width: 1280px;
	width: 100%;

	a {
		display: flex;
		align-items: center;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		column-gap: 150px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		column-gap: 105px;
		list-style-type: none;
	}

	&__item {
		a {
			font-size: 23px;
			color: $bright;
		}
	}

	.logo {
		height: 41.05px;
	}
}