.nav {
	width: 100%;
	position: fixed;
	max-width: 1280px;
	padding: 0 16px;
	margin-top: 20px;
	background-color: transparent;

	@include flex(space-between);
	z-index: 99;

	&__container {
		display: none;
	}

	a {
		@include flex;
	}

	.logo {
		height: 27.27px;
	}

	&__button {
		background-color: transparent;
		border: none;

		@include flex;

		img {
			width: 40px;
			height: 16px;
		}

		&:active {
			filter: invert(30%);
		}
	}

	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding-left: 16px;
		background-color: rgb(48 9 97 / 30%);
		backdrop-filter: blur(7.5px);
		visibility: hidden;
		opacity: 0;
		transition: all .4s ease;
	}

	&__menu {
		width: 100%;
		padding: 20px 20px 60px;
		background-color: $secondary-dark;
		border-bottom-left-radius: 30px;
	}

	@include desktop {
		margin-top: 30px;
		padding: 0;

		.logo {
			height: 41.05px;
		}

		&__button {
			display: none;
		}

		a {
			display: flex;
			align-items: center;
		}
	
		&__container {
			display: flex;
			justify-content: space-between;
			column-gap: 150px;
		}
	
		&__list {
			@include flex(space-between) {
				column-gap: 105px;
			}
			list-style-type: none;
		}
	
		&__item {
			a {
				font-size: 23px;
				color: $bright;
			}
		}
	}
}